<%- include('partials/header'); -%>

<h1>Compose</h1>

<form action="/compose" method="post">
  

<div class="form-group">
    <div>
        <label for="">Title</label>
       <input type="text" name="postTitle" class="form-control" >
           </div>
       <div>
           <label for="">Post</label>
           <textarea name="postBody"  cols="30" class="form-control" rows="5">
           
           </textarea>
 </div>
       
       
</div>
<button type="submit" class="btn btn-primary">publish</button>
</form>
 

<%- include('partials/footer');  -%> 